<%- include('../header.ejs') %>
    <div class="list-filter p-3 bg-white rounded-2 bs-border d-flex align-items-center justify-content-between">
        <div class="filter-area" id="booking-filter-section">
            <div class="dropdown filter-dropdown booking-filter-status">
                <button type="button" class="filter-btn dropdown-toggle" id="status-filter-btn" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="fs-14 fw-md d-flex align-items-center gap-1">
                        <img src="/images/circle-plus.svg" alt="">
                        Bookings Status
                    </span>
                    <div class="hr-line-sm d-none"></div>
                    <div class="filter-data d-none"></div>
                </button>
                <ul class="dropdown-menu filter-dropdown-menu bs-border bg-white cursor-pointer">
                    <li>
                        <a class="dropdown-item booking-status-filter" data-status="1" data-status-text="Pending">Pending</a>
                    </li>
                    <li>
                        <a class="dropdown-item booking-status-filter" data-status="3" data-status-text="Accepted">Accepted</a>
                    </li>
                    <li>
                        <a class="dropdown-item booking-status-filter" data-status="4" data-status-text="Provider EN Route">Provider EN Route</a>
                    </li>
                    <li>
                        <a class="dropdown-item booking-status-filter" data-status="5" data-status-text="Arrived">Arrived</a>
                    </li>
                    <li>
                        <a class="dropdown-item booking-status-filter" data-status="6" data-status-text="Service Started">Service Started</a>
                    </li>
                    <li>
                        <a class="dropdown-item booking-status-filter" data-status="7" data-status-text="Service Completed">Service Completed</a>
                    </li>
                    <li>
                        <a class="dropdown-item booking-status-filter" data-status="8" data-status-text="Payment Completed">Payment Completed</a>
                    </li>
                    <li>
                        <a class="dropdown-item booking-status-filter" data-status="9" data-status-text="Closed">Closed</a>
                    </li>
                    <li>
                        <a class="dropdown-item booking-status-filter" data-status="2" data-status-text="Cancelled">Cancelled</a>
                    </li>
                    <li>
                        <a class="dropdown-item booking-status-filter" data-status="10" data-status-text="Failed">Failed</a>
                    </li>
                    <!-- <div class="cl-btn-wrapper">
                        <button class="clear-btn fs-14 fw-normal text-center w-100">
                            Clear filters
                        </button>
                    </div> -->
                    <button id="clear-status-filter" class="clear-btn fs-14 fw-normal text-center w-100 d-none">
                        Clear filters
                    </button>
                </ul>
            </div>
            <button type="button" id="reset-booking-filters" class="d-none f-reset-btn fs-14 fw-md bg-transparent">
                Reset <img src="/images/f-close.svg" alt="">
            </button>
        </div>
        <div class="d-flex align-items-center flex-wrap justify-content-end gap-2">
            <div class="pagination-show d-flex align-items-center" id="pagination-div-booking-list-table-data">
                Show
                <select
                    id="recordPerPage-booking-list-table-data"
                    class="form-select form-select-sm w-auto"
                    onchange="changeRecordPerPage('/booking-list', 'booking-list-table-data')"
                >
                    <option selected="">10</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                    <option value="60">60</option>
                </select>
            </div>
            <div class="page navigation example">
                <ul class="pagination justify-content-end mb-0 gap-0"></ul>
            </div>
        </div>
    </div>
    <div class="admin-table booking-list-table mt-30" id="booking-list-table-data"></div>

<%- include('../footer.ejs') %>